In [1]:
import ager.transformer 
from ager.transformer import SequenceTransformer

### Direct API

In [2]:
__testdata1__ = {
    "type":1,  # 0 for boolean, 1 for numericla, 2 for categorical
    "value":[1,2,3]
}

__testdata2__ = {
    "type":2,  # 0 for boolean, 1 for numericla, 2 for categorical
    "value":["1","2"]
}

In [3]:
st_num = SequenceTransformer()
st_cat = SequenceTransformer()

In [4]:
print(st_num.transform(__testdata1__))

{'freq_of_max': 1, 'freq_of_min': 1, 'length': 3, 'max': 3, 'mean': 2.0, 'median': 2, 'median_mean_distance': 0.0, 'min': 1, 'duplicates_count': 0, 'percentage_below_mean': 0.3333333333333333, 'percentage_of_most_reoccuring_value_to_all_values': 0.3333333333333333, 'percentage_of_most_reoocuring_value_to_all_datapoints': 0.3333333333333333, 'uniqueCount': 3, 'variance': 0.6666666666666666}

In [5]:
print(st_cat.transform(__testdata2__))

{'flucturate_rate': 0.0, 'length': 2, 'duplicates_count': 0, 'percentage_of_most_reoccuring_value_to_all_values': 0.5, 'percentage_of_most_reoocuring_value_to_all_datapoints': 0.5, 'uniqueCount': 2}

### Modeling API

In [6]:
import pandas as pd
from sklearn_pandas import DataFrameMapper
df = pd.DataFrame([[1,200,"1"],[1,500,"2"],[2,300,"2"],[2,600,"2"]],columns=['id','stock_price',"type"])
df = df.set_index("id")
df

    stock_price type
id
1           200    1
1           500    2
2           300    2
2           600    2

In [11]:
st_num.transform(df['stock_price'])

,freq_of_max,freq_of_min,length,max,mean,median,median_mean_distance,min,duplicates_count,percentage_below_mean,percentage_of_most_reoccuring_value_to_all_values,percentage_of_most_reoocuring_value_to_all_datapoints,uniqueCount,variance
id,,,,,,,,,,,,,,
1,1,1,2,500,350.0,350.0,0.0,200,0,0.5,0.5,0.5,2,22500.0
2,1,1,2,600,450.0,450.0,0.0,300,0,0.5,0.5,0.5,2,22500.0

In [12]:
st_cat.transform(df['type'])

,flucturate_rate,length,duplicates_count,percentage_of_most_reoccuring_value_to_all_values,percentage_of_most_reoocuring_value_to_all_datapoints,uniqueCount
id,,,,,,
1,0.0,2,0,0.5,0.5,2
2,1.0,2,1,1.0,1.0,1