In [1]:
import ager.transformer 
from ager.transformer import SequenceTransformer

### Direct API

In [2]:
__testdata1__ = {
    "type":1,  # 0 for boolean, 1 for numericla, 2 for categorical
    "value":[1,2,3]
}

__testdata2__ = {
    "type":2,  # 0 for boolean, 1 for numericla, 2 for categorical
    "value":["1","2"]
}

In [3]:
st_num = SequenceTransformer()
st_cat = SequenceTransformer(calculators=['uniqueCount'])

In [4]:
print(st_num.transform(__testdata1__))

There is a mismatch between input X and calculator(flucturate_rate) supporting types

{'freq_of_max': 1, 'freq_of_min': 1, 'length': 3, 'max': 3, 'mean': 2.0, 'median': 2, 'min': 1, 'duplicates_count': 0, 'uniqueCount': 3, 'variance': 0.6666666666666666}

In [5]:
print(st_cat.transform(__testdata2__))

{'uniqueCount': 2}

### Modeling API

In [6]:
import pandas as pd
from sklearn_pandas import DataFrameMapper
df = pd.DataFrame([[1,200],[1,500],[2,300],[2,600]],columns=['id','stock_price'])
df = df.set_index("id")
df

    stock_price
id
1           200
1           500
2           300
2           600

In [7]:
st_num.transform(df['stock_price'])

There is a mismatch between input X and calculator(flucturate_rate) supporting types
There is a mismatch between input X and calculator(flucturate_rate) supporting types

,freq_of_max,freq_of_min,length,max,mean,median,min,duplicates_count,uniqueCount,variance
id,,,,,,,,,,
1,1,1,2,500,350.0,350.0,200,0,2,22500.0
2,1,1,2,600,450.0,450.0,300,0,2,22500.0